
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#f2f2f2;
}

.container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 300px;
}

/* Top Left */
.box1{
    padding:40px;
    background:#ffffff;
}
.box1 h1{
    font-size:24px;
    margin-bottom:15px;
}

/* Top Center */
.box2{
    background:#e8e8e8;
    display:flex;
    align-items:center;
    justify-content:center;
}
.box2 img{
    width:200px;
}

/* Top Right */
.box3{
    padding:40px;
    background:#ffffff;
}
.box3 h1{
    font-size:28px;
}

/* Middle Left */
.box4{
    background:#ff5733;
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.box4 img{
    width:150px;
    margin-bottom:20px;
}

/* Middle Center */
.box5{
    padding:30px;
    background:#ffffff;
}
.box5 img{
    width:120px;
    margin-top:20px;
}

/* Middle Right */
.box6{
    background:#6c5ce7;
    color:white;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.box6 img{
    width:120px;
    margin-bottom:20px;
}

/* Bottom Left */
.box7{
    background:#f5f5f5;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.box7 img{
    width:120px;
}

/* Bottom Center (Wide) */
.box8{
    grid-column: span 2;
    background:#95a5a6;
    display:flex;
    justify-content:center;
    align-items:center;
}
.box8 img{
    width:300px;
}
